@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* HEADER STYLE */

header {
    height: 70px;
    display: flex;
    justify-content: space-between;
}

header>.nav ul {
    display: flex;
    margin: 30px 50px 0 0;
    list-style: none;
}

.nav ul li {
    margin: 0 15px;
}

.nav ul li a {
    text-decoration: none;
    font-size: 17px;
    color: #0080ff;
    transition: .1s ease;
}

.fas.fa-align-justify,
.fas.fa-user {
    font-size: 25px;
    color: #3a3a3a;
    border-radius: 50%;
    padding: 8px 10px;
    position: relative;
    bottom: 8px;
}

.fas.fa-user {
    background-color: rgba(233, 233, 233, 0.925);
}

.fas.fa-align-justify:hover {
    background-color: rgba(233, 233, 233, 0.925);
}

.link-txt:hover {
    border-bottom: 3px solid dodgerblue;
}

.sectionG {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.secHeader .img {
    position: relative;
    top: -40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#search>input {
    padding: 13px 45px;
    width: 650px;
    border-radius: 30px;
    outline: none;
    border: 0.5px solid #808080;
    font-size: 18px;
    margin: 0 auto;
}

.first-btn {
    position: relative;
    left: 40px;
    font-size: 20px;
    border: none;
    background-color: transparent;
    padding-left: 10px;
    cursor: pointer;
    outline: none;
    position: relative;
    top: 40px;
    left: 5px;
}

.fas.fa-microphone {
    position: relative;
    right: 40px;
    font-size: 20px;
    cursor: pointer;
}

.btnAll {
    position: relative;
    display: flex;
    justify-content: center;
    top: 30px;
}

.btnAll>label>button {
    padding: 5px 20px;
    font-size: 15px;
    margin: 0 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.goo:hover {
    border: .5px solid #3a3a3a;
}

.feel:hover {
    border: .5px solid #3a3a3a;
}

@media only screen and (max-width:1024px) {
    header {
        display: none;
    }
    #search>input {
        padding: 12px 45px;
        width: 550px;
        border-radius: 30px;
        outline: none;
        border: 0.5px solid #808080;
        font-size: 18px;
        margin: 0 auto;
    }
    .fas.fa-microphone {
        position: relative;
        right: -510px;
        font-size: 20px;
        cursor: pointer;
        top: -35px;
    }
    .btnAll>label>button {
        padding: 5px 10px;
        font-size: 14px;
        margin: 0 5px;
        text-transform: capitalize;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 5px;
    }
    .first-btn {
        position: relative;
        left: 40px;
        font-size: 20px;
        border: none;
        background-color: transparent;
        padding-left: 10px;
        cursor: pointer;
        outline: none;
        position: relative;
        top: 40px;
        left: 15px;
    }
}

@media only screen and (max-width:992px) {
    header {
        display: none;
    }
    #search>input {
        padding: 10px 45px;
        width: 450px;
        border-radius: 30px;
        outline: none;
        border: 0.5px solid #808080;
        font-size: 18px;
        margin: 0 auto;
    }
    .fas.fa-microphone {
        position: relative;
        right: -400px;
        font-size: 20px;
        cursor: pointer;
        top: -35px;
    }
    .btnAll>label>button {
        padding: 5px 10px;
        font-size: 14px;
        margin: 0 5px;
        text-transform: capitalize;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 5px;
    }
}


@media only screen and (max-width:576px) {
    header {
        display: none;
    }
    #search>input {
        padding: 10px 45px;
        width: 450px;
        border-radius: 30px;
        outline: none;
        border: 0.5px solid #808080;
        font-size: 18px;
        margin: 0 auto;
    }
    .fas.fa-microphone {
        position: relative;
        right: -400px;
        font-size: 20px;
        cursor: pointer;
        top: -35px;
    }
    .btnAll>label>button {
        padding: 5px 10px;
        font-size: 14px;
        margin: 0 5px;
        text-transform: capitalize;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 5px;
    }
}
